			<div  class="container">
          	<h2>Об этом калькуляторе</h2>
          	<p>*Этот калькулятор позволяет быстро и просто рассчитать индекс массы тела(ИМТ)</p>
          	<h3>Формула</h3>
          	<div id="formula">
          		<span>I = m/h<sup>2</sup></span>
          		<p>где: m — масса тела в килограммах; h — рост в метрах; измеряется в кг/м².</p>
          		<p>Калькулятор раcчитывает показатели в следующих интервалах: рост не более 300 см; вес не менее 10 кг.</p>
          		<p>Возможен ввод дробных значений веса с точность до одного знака после запятой.</p>
          	</div>
          	<h3>Интерпретация</h3>
          	<div id="interpret">
          	<p>В соответствии с рекомендациями ВОЗ разработана следующая интерпретация показателей ИМТ:</p>
          		<table class="standard">
          			<tbody><tr>
          			<th>Индекс массы тела</th>
          			<th>Соответствие между массой человека и его ростом</th>
          			</tr>
          			<tr>
          			<td>16 и менее</td>
          			<td>Выраженный дефицит массы тела</td>
          			</tr>
          			<tr>
          			<td>16&mdash;18,5</td>
          			<td>Недостаточная (дефицит) масса тела</td>
          			</tr>
          			<tr>
          			<td>18,5&mdash;25</td>
          			<td>Норма</td>
          			</tr>
          			<tr>
          			<td>25&mdash;30</td>
          			<td>Избыточная масса тела (предожирение)</td>
          			</tr>
          			<tr>
          			<td>30&mdash;35</td>
          			<td>Ожирение первой степени</td>
          			</tr>
          			<tr>
          			<td>35&mdash;40</td>
          			<td>Ожирение второй степени</td>
          			</tr>
          			<tr>
          			<td>40 и более</td>
          			<td>Ожирение третьей степени (морбидное)</td>
          			</tr>
          			</tbody>
          		</table>
          	</div>
          	<h3>Дополнительные сведения</h3>
          	<div id="addinfo">
          		<p>Целесообразно рассчитывать индекс массы тела для лиц старше 19 лет.</p>
          		<p>Индекс массы тела следует применять с осторожностью, исключительно для ориентировочной оценки — например, попытка оценить с его помощью телосложение профессиональных спортсменов может дать неверный результат (высокое значение индекса в этом случае объясняется развитой мускулатурой). Поэтому для более точной оценки степени накопления жира наряду с индексом массы тела целесообразно определять также индексы центрального ожирения.</p>
          		<p>Показатель индекса массы тела разработан бельгийским социологом и статистиком Адольфом Кетеле (Adolphe Quetelet) в 1869 году.</p>
          	</div>
          </div>
      </div>